.laserButtonContainer {
  position: relative;
  overflow: hidden;
  /* Assurez-vous que le conteneur a une couleur de fond si le bouton est transparent */
}

.laserButtonContainer::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: conic-gradient(
    from 0deg at 50% 50%,
    transparent 0%,
    transparent 20%,
    #00f 30%, /* Couleur du laser (bleu) */
    #00f 35%,
    transparent 45%,
    transparent 70%,
    #00f 80%,
    #00f 85%,
    transparent 95%,
    transparent 100%
  );
  animation: rotateLaser 4s linear infinite;
  z-index: -1; /* Place le laser derrière le contenu du bouton */
}

@keyframes rotateLaser {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.laserButtonContent {
  position: relative;
  z-index: 1; /* Assure que le contenu du bouton est visible au-dessus du laser */
}