@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

@layer base {
  html,
  body,
  #root {
    @apply h-full overflow-hidden;
  }

  * {
    @apply border-border;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
  }

  body {
    @apply bg-background text-foreground;
  }

  /* Fix for iOS zoom on input focus */
  input,
  textarea {
    font-size: 16px !important;
  }
}